<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- DispatcherServlet Context: defines this servlet's request-processing 
		infrastructure -->

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />
	<context:component-scan base-package="unoesc.edu.aulaJSP.controller" />
	<mvc:default-servlet-handler />
	<!-- Resolves views selected for rendering by @Controllers to .jsp resources  in the /WEB-INF/views directory -->
	<bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/> 
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/prog3"/>
        <property name="username" value="postgres" />
        <property name="password" value="postgres"/>
         
    </bean>
     
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation">
            <value>/META-INF/hibernate.cfg.xml</value>
        </property>
        <property name="packagesToScan">
            <list>
                <value>unoesc.edu.aulaJSP.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>       
    </bean>
 
 	<bean id="ClienteDAO" class="unoesc.edu.aulaJSP.DAO.ClienteDAOImpl"></bean>
 	<bean id="ProdutoDAO" class="unoesc.edu.aulaJSP.DAO.ProdutoDAOImpl"></bean>
 	<bean id="PedidoDAO" class="unoesc.edu.aulaJSP.DAO.PedidoDAOImpl"></bean>
    
    <tx:annotation-driven />
    <bean id="transactionManager"  class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 
    <bean id="persistenceExceptionTranslationPostProcessor"
        class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	
</beans>
